@import 'Config.scss';
.list-item-container{
    .item-container{
        width: calc(100% - 20px);
        height:200px;
        margin:10px;
        float:left;
        background-color: #eee;
        .image-container{
            height:150px;
            text-align: center;
            background-color:$light-base-color;
            img{
                max-width: 100%;
                max-height:100%;
            }
        }
        .detail{
            .title{
                width:80%;
                float:left;
                padding-left:5px;
                box-sizing: border-box;
            }
            .price{
                width:20%;
                float:right;
                text-align: right;
                padding-right:5px;
                box-sizing: border-box;
            }
        }
    }
}
@media (min-width: $container-xsmall-min-width ){
    .list-item-container{
        .item-container{
            width: calc(50% - 20px);
        }
    }
}
@media (min-width: $container-medium-min-width){
  .list-item-container{
        .item-container{
            width: calc(33.33% - 20px);
        }
    }
}
@media (min-width: $container-large-min-width){
  .list-item-container{
        .item-container{
            width: calc(25% - 20px);
        }
    }
}

.item-container:before, .item-container::after, .item-container:after{
    display:table;
    content:" ";
    clear:both;
}