<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title> Welcome to Stevens Trader Administrator Page</title>
	<!--<link href="indexA.css" type="text/css" rel="stylesheet">-->
	<link rel="stylesheet" href="../static/index.css" type="text/css" media="all" />
</head>
<body>
		<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<div id="top-navigation">
				Welcome <a href="#"><strong>Administrator</strong></a>
				<span>|</span>
				<a href="#">Help</a>
				<span>|</span>
				<a href="#">Profile Settings</a>
				<span>|</span>
				<a href="#">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li>Stevens Trader System : User Stats</li>
			    
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">All users</h2>
		
						<div class="right">
							<label>Search users</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>Username</th>
								<th>Email</th>
								<th>Last Login</th>
								<th>#Times Logged-in</th>
								<th>#Items Posted</th>
								<th>Status</th>
							</tr>
							{% for acct in accounts %}
							<tr class="odd">
								<td><h3><a href="#">{{acct.name}}</a></h3></td>
								<td>{{acct.email}}</td>
								<td>4/15/2017 12:00:00</td>
								<td>30</td>
								<td>10</td>
								<td>
								<form action="/users" method="post"> 
									<input type="hidden" name="user_id" value="{{acct._id}}"/>
									<button type="submit" value="{{acct.status}}">{{acct.status}}</button> 
								</form>
								</td>
							</tr>
							{% endfor %}
						</table>
						
					<!-- <!-- 	 -->
						<!-- <!-- Paging -->
						<!-- <div class="paging"> -->
							<!-- <div class="left">Showing 1-10 of 100</div> -->
							<!-- <div class="right"> -->
								<!-- <a href="#">Previous</a> -->
								<!-- <a href="#">1</a> -->
								<!-- <a href="#">2</a> -->
								<!-- <a href="#">3</a> -->
								<!-- <a href="#">4</a> -->
								<!-- <span>...</span> -->
								<!-- <a href="#">Next</a> -->
								<!-- <a href="#">View all</a> -->
							<!-- </div> -->
						<!-- </div> -->
						<!-- <!-- End Pagging -->
			
					</div>
					<!-- Table -->
					
				</div>

			</div>
			<!-- End Content -->
	
</body>
