@import 'Config.scss';
$header-height : 100px;
$header-float-height : 50px;

/*default menu */
.navbar-brand {
    float: left;
    // height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    margin: 4px -15px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

nav{
    visibility: hidden;
    padding: 0px 15px 0 15px;
    overflow-x: visible;
    overflow-y: auto;
    height: auto;
    @extend %background-base-image;
    a{
        text-transform: uppercase;
        font-size: 1.1875rem;
        color:#fff;
    }
    
    &.collapsing{
        position: relative;
        overflow: hidden;

        @include addTransition("height,visibility");
    }
}



/* hamburger */
.hamburger-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #fff;
}
.hamburger-toggle:hover {
    background-color: #ddd;
}
.hamburger-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.hamburger-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}


.brand-wrapper{
    float:left;
    position:relative;
    
    text-align: left;
    .brand-icon{
        height:60px;
        @include addTransition(height);
    }
}



/* make menu get height properly*/
nav:after,nav:before, .navbar-header:before,.navbar-header:after, .container:before,.container:after{
  display: table;
  content: " ";
  clear: both;
}





.header-container{
    width:100%;
    height: $header-float-height;
    overflow:visible;
    .header-fullwidth-container{
        height: $header-height;
        @extend %background-base-image;
        position: fixed;
        top: 0;
        left:0;
        right:0;
        z-index: 500;
        width: 100%;
        height: $header-float-height;
    }
}



@media (min-width: $container-small-min-width ){
    .container {
        width: 750px;
    }
    nav{
        padding: 50px 15px 0 15px;
        border-top: 0px;
        display: block!important;
        visibility: visible!important;
        height: auto!important;
        background-color:transparent;
    }
    .navbar {
        float: left;
    }
    .navbar>li {
        float: left;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
    .navbar-header {
        float: left;
    }
    .hamburger-toggle{
        display: none;
    }


    .header-container{
        height:$header-height;
        width:100%;
        overflow:visible;
        .header-fullwidth-container{
            width: 100%;
            height: $header-height;
            position:absolute;
            left:0;
            right:0;
        }
        .brand-wrapper{
            .brand-icon{
                height:130px;
            }
        }
    }
    .floating-menu{
        position: fixed;
        top: 0;
        left:0;
        right:0;
        z-index: 500;
        height: 50px;
        nav{
            padding: 0px 15px 0 15px;
        }
        .brand-wrapper{
            .brand-icon{
                height:86px;
            }
        }
        &.header-fullwidth-container{
            height: 50px;
            position:fixed;
        }
    }
    
}
