.close-button {
  position: absolute;
  z-index:10;
  right: 0px;
  top: 4px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 0px;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}